!!!
%html
  %head
    %title FakeTwitterOnRails
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  .col-lg-offset-4
    .containter
      %body
      %br
        %ul.nav.nav-pills
          %li
            =link_to "Home", root_path
          -if !current_user.nil?
            %li
              =link_to "Profile", user_path(current_user)
          -if current_user.nil?
            %li
              =link_to "Sign In", log_in_path
            %li
              =link_to "Sign Up", new_user_path
          -if !current_user.nil?
            %li
              =link_to "Sign Out", log_out_path
            %li
              %a{:href => "#"} Friends
      - if flash[:error]
        %p.error= h flash[:error]
      - if flash[:notice]
        %p.notice= h flash[:notice]
      %div
        = yield
      -if !current_user.nil?
        %br
        %br
        %footer
          =form_tag user_index_path, :method => 'get' do
            %p 
              =text_field_tag :search, params[:search]
              =submit_tag "Search for Users", :name => nil



